ConfigPath: ./BamVocabularyGenerator.config
InputsPath: ./BamVocabularyGenerator.inputs.yaml
DefinitionsDirectory: C:/src/repos/Server1/domains/bam-toolkit.sh/.bam/submodules/bamtk/submodules/bam.activity/bam.activity/Generated/Definitions
CoreTypesDirectory: C:/src/repos/Server1/domains/bam-toolkit.sh/.bam/submodules/bamtk/submodules/bam.activity/bam.activity/Generated/Definitions/Core
ActivityTypesDirecotory: C:/src/repos/Server1/domains/bam-toolkit.sh/.bam/submodules/bamtk/submodules/bam.activity/bam.activity/Generated/Definitions/Activity
ActorTypesDirectory: C:/src/repos/Server1/domains/bam-toolkit.sh/.bam/submodules/bamtk/submodules/bam.activity/bam.activity/Generated/Definitions/Actor
ObjectTypesDirectory: C:/src/repos/Server1/domains/bam-toolkit.sh/.bam/submodules/bamtk/submodules/bam.activity/bam.activity/Generated/Definitions/Object
CodeDirectory: C:/src/repos/Server1/domains/bam-toolkit.sh/.bam/submodules/bamtk/submodules/bam.activity/bam.activity/Generated/Code
